@import "colors";
@import "profile";

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "lato",sans-serif;
  font-style: normal;
  font-weight: 200;

  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  background-color: transparent;
}

a:visited{
  text-decoration: none;
  outline: none;
}


.topnav a{
  color: #f45f96;
  font-size: 18px;
}

.navbar-brand{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  text-transform: uppercase;
  //  line-height: 20px;
}


.topnav small{
  color: @cosy-orange;
  font-size: 15px;
}

.navbar-brand {
  color: @cosy-orange;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/home_bg1.jpg");
  background-attachment: fixed;
}

.intro-message {
  color: #ffffff;
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}


.intro-message > h1 {
  padding-top: 40px;
  margin: 0;
  text-shadow: 2px 2px 20px rgba(0,0,0,1);
  font-size: 5em;

  .logotype;
  text-transform: uppercase ;

}

.intro-header .img-responsive{
  margin: 0 auto;
  width: 150px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 20px rgba(0,0,0,0.6);
}

.content-section-a {
  padding: 50px 0;
  background-color: @cosy-grey-lt;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #ffffff;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  .underline-lg
}

.testbox {
  width: 40px;
  height: 40px;
  .border-frame;
  margin: 30px auto 0;

  a{
    color: #ffffff;
    font-size: larger;
    line-height: 200%;
    text-decoration: none;

  }
}


footer {
  color: #ffffff;
  padding: 50px 0;
  background-color: @cosy-blue-dker;
  background-image: url("../img/footer.jpg");


  -webkit-box-shadow: inset 0px 7px 27px -5px rgba(61,61,61,0.3);
  -moz-box-shadow: inset 0px 7px 27px -5px rgba(61,61,61,0.3);
  box-shadow: inset 0px 7px 27px -5px rgba(61,61,61,0.3);
}

footer a {
  color: #ffffff;
  font-family: "lato",sans-serif;
  font-style: normal;
  font-weight: 700;

  &:hover{
    color: @cosy-orange;
  }

}


p.copyright {
  margin: 15px 0 0;
  color: #ffffff;
}