.logotype {
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 100;
}
.underline {
  border-bottom: solid 1px #f15f4d;
}
.underline-lg {
  border-bottom: solid 5px #187a96;
}
.border-frame {
  border: solid 10px #f15f4d;
}
.border-frame-lg {
  border: solid 15px #f15f4d;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: dimgray;
  background-color: transparent;
}
.topnav a {
  color: #f45f96;
  font-size: 18px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  text-transform: uppercase;
}
.topnav small {
  color: #f15f4d;
  font-size: 15px;
}
.navbar-brand {
  color: #f15f4d;
}
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: url("../img/home_bg1.jpg") no-repeat center center;
}
.intro-message {
  color: #ffffff;
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
.intro-message > h1 {
  padding-top: 40px;
  margin: 0;
  text-shadow: 2px 2px 20px #000000;
  font-size: 5em;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 100;
  text-transform: uppercase ;
}
.intro-header .img-responsive {
  margin: 0 auto;
  width: 150px;
}
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message > h3 {
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}
.content-section-a {
  padding: 50px 0;
  background-color: #ecedef;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #ffffff;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.section-heading {
  margin-bottom: 30px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-bottom: solid 5px #187a96;
}
footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
p.copyright {
  margin: 15px 0 0;
}
