@import "colors";


// Fonts
// Imported in header.

.logotype{
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 100;
}



//Borders:

.underline{
  border-bottom: solid 1px @cosy-orange;
}

.underline-lg{
    border-bottom: solid 5px @cosy-blue;
}

.border-frame {
  border: solid 10px @cosy-orange;
}

.border-frame-lg{
    border: solid 15px @cosy-orange;
}