@import "colors";


// Fonts
// Imported in header.

.logotype{
  font-family: "lato",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 30px;
  text-transform: uppercase ;
}

//Borders:

.underline{
  border-bottom: solid 1px @cosy-orange;
}

.underline-lg{
    border-bottom: solid 5px @cosy-blue;
}

.border-frame {
  border: solid 5px @cosy-orange;
}

.border-frame-lg{
    border: solid 15px @cosy-orange;
}