<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    {% block meta_tags %}
        <meta charset="utf-8" />
        <meta name="description" content="CosyTech" />
        <meta name="keywords" content="Proximity, NFC, BLE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="{% static "img/trickle-logo.png" %}" />
    {% endblock %}

    <title>{% block title %}CosyTech{% endblock %}</title>

    {% block stylesheets %}
        {% include "_base_css.html" %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    {% block extra_head %}{% endblock %}

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Trickle <small>by: CosyTech</small></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#how">How?</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        {% block wrapper %}
        {% endblock %}

    {% block javascript %}
        {% include "_base_js.html" %}
    {% endblock %}

</body>
<html>